{% extends 'base.html'%} {% block title %}Boggle Game{% endblock %} {% block
content %}
<h1>Boggle Game</h1>
<h2 id="timer">60 seconds</h2>
<div class="info">
  <span id="score">0 Points</span> <span id="numGuess">0 Guesses</span>
</div>
<div class="game">
  <span class="board">
    <table>
      {% for row in session['board']%}
      <tr>
        {% for char in row %}
        <td>{{char}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </span>
  <span class="found">
    <ul></ul>
  </span>
</div>
<form action="" method="POST" id="form">
  <input type="text" name="guess" id="guess" />
  <input type="submit" name="start" id="start" value="Search for Word" />
</form>
{% endblock %} {% block gamescript %}
<script src="/static/game.js"></script>
{% endblock %}
