{% extends 'base.html'%} {% block title %}Boggle Game{% endblock %} {% block
content %}
<h1>Click button to start a new game</h1>
<form action="/start" method="POST">
  <input type="submit" name="start" id="start" value="Start" />
</form>

<div class="info">
  <span class="highScores">
    <h3>Top Scores</h3>
    {% if session['high_scores'] | length > 0 %}
    <ol>
      {% for score in session['high_scores'] %}
      <li>{{score}}</li>
      {% endfor %}
    </ol>
    {% else %} --------------- {% endif %}
  </span>
  <span class="gamesplayed">
    <h3>Games Played: {{session.get('gamesplayed')}}</h3>
  </span>
</div>
{% endblock %}
